In [1]:
import pandas as pd
import numpy as np

In [2]:

sales = pd.read_csv(
    'Data/general_store_sample_data.csv')

## Looking at only the United States, France, and Spain, what was the median revenue in 2013? (Taking the three countries together in aggregate)

In [10]:
x = sales.loc[((sales['country'] == 'US') | (sales['country'] == 'FR') | (sales['country'] == 'ES')) & (sales['year'] == 2013)]
print(x)

       product_group country  year        revenue
13        automobile      ES  2013  193957.392701
16        automobile      FR  2013  197659.861858
22        automobile      US  2013  198326.241130
43          clothing      ES  2013    3112.439556
46          clothing      FR  2013    3346.136628
52          clothing      US  2013    1926.057675
73       electronics      ES  2013   20348.102661
76       electronics      FR  2013   19615.283429
82       electronics      US  2013   19824.931554
103        furniture      ES  2013   20932.974245
106        furniture      FR  2013   19032.585917
112        furniture      US  2013   20146.534817
133        groceries      ES  2013  203526.211415
136        groceries      FR  2013  223017.380291
142        groceries      US  2013  167057.544454
163  office supplies      ES  2013  191076.730457
166  office supplies      FR  2013  209669.100729
172  office supplies      US  2013  207829.132649

In [6]:
print(x['revenue'].median())

93995.25934923755

## Was it more or less than 2012?

In [7]:
y = sales.loc[((sales['country'] == 'US') | (sales['country'] == 'FR') | (sales['country'] == 'ES')) & (sales['year'] == 2012)]
print(y)

       product_group country  year        revenue
12        automobile      ES  2012  200855.769705
15        automobile      FR  2012  190734.681478
21        automobile      US  2012  201789.701386
42          clothing      ES  2012    1081.705380
45          clothing      FR  2012    1873.328854
51          clothing      US  2012    1865.099225
72       electronics      ES  2012   19505.467477
75       electronics      FR  2012   20352.772353
81       electronics      US  2012   20175.308824
102        furniture      ES  2012   19799.618154
105        furniture      FR  2012   21392.753665
111        furniture      US  2012   19864.197324
132        groceries      ES  2012  147368.003437
135        groceries      FR  2012  238991.336675
141        groceries      US  2012  208650.102119
162  office supplies      ES  2012  206106.329950
165  office supplies      FR  2012  201274.506404
171  office supplies      US  2012  207157.981951

In [32]:
print('2013:', x['revenue'].median())
print('2012:', y['revenue'].median())

2013: 93995.25934923755
2012: 84380.378550825

## What drove that difference?

#### Automobile revenue

In [18]:
print(x.loc[x['product_group'] == 'automobile', 'revenue'])

13    193957.392701
16    197659.861858
22    198326.241130
Name: revenue, dtype: float64

In [19]:
print(y.loc[y['product_group'] == 'automobile', 'revenue'])

12    200855.769705
15    190734.681478
21    201789.701386
Name: revenue, dtype: float64

#### Clothing revenue

In [21]:
print(x.loc[x['product_group'] == 'clothing', 'revenue'])

43    3112.439556
46    3346.136628
52    1926.057675
Name: revenue, dtype: float64

In [22]:
print(y.loc[y['product_group'] == 'clothing', 'revenue'])

42    1081.705380
45    1873.328854
51    1865.099225
Name: revenue, dtype: float64

#### Electronics revenue

In [23]:
print(x.loc[x['product_group'] == 'electronics', 'revenue'])

73    20348.102661
76    19615.283429
82    19824.931554
Name: revenue, dtype: float64

In [24]:
print(y.loc[y['product_group'] == 'electronics', 'revenue'])

72    19505.467477
75    20352.772353
81    20175.308824
Name: revenue, dtype: float64

#### Furniture revenue

In [25]:
print(x.loc[x['product_group'] == 'furniture', 'revenue'])

103    20932.974245
106    19032.585917
112    20146.534817
Name: revenue, dtype: float64

In [26]:
print(y.loc[y['product_group'] == 'furniture', 'revenue'])

102    19799.618154
105    21392.753665
111    19864.197324
Name: revenue, dtype: float64

#### Groceries revenue

In [27]:
print(x.loc[x['product_group'] == 'groceries', 'revenue'])

133    203526.211415
136    223017.380291
142    167057.544454
Name: revenue, dtype: float64

In [28]:
print(y.loc[y['product_group'] == 'groceries', 'revenue'])

132    147368.003437
135    238991.336675
141    208650.102119
Name: revenue, dtype: float64

#### Office supplies revenue

In [29]:
print(x.loc[x['product_group'] == 'office supplies', 'revenue'])

163    191076.730457
166    209669.100729
172    207829.132649
Name: revenue, dtype: float64

In [30]:
print(y.loc[y['product_group'] == 'office supplies', 'revenue'])

162    206106.329950
165    201274.506404
171    207157.981951
Name: revenue, dtype: float64